In [1]:
import pandas as pd

In [2]:
fire_columns = ['AREA', 'PREFECTURE', 'START_YEAR', 'START_MONTH', 'START_DAY', 'START_HOUR', 'START_MINUTE', 'START_TIME', 'FOREST_AREA']
fire_data = pd.read_pickle('C:\\Users\\hppc\\Desktop\\GitHub\\wildfire_prediction\\data\\fire_data.pkl')
fire_data = fire_data.filter(fire_columns)
temperature_data = pd.read_pickle('C:\\Users\\hppc\\Desktop\\GitHub\\wildfire_prediction\\data\\processed_data.pkl')

In [3]:

print(fire_data.head())

                      AREA PREFECTURE START_YEAR START_MONTH START_DAY  \
0                 ΚΡΥΟΝΕΡΙ    ΑΤΤΙΚΗΣ       2000          06        08
1          ΑΓΡ.ΠΕΡ.ΑΦΙΔΝΩΝ    ΑΤΤΙΚΗΣ       2000          06        05
2                   ΚΑΡΕΑΣ    ΑΤΤΙΚΗΣ       2000          06        14
3  ΝΕΚΡΟΤΑΦΕΙΟ ΚΑΙΣΑΡΙΑΝΗΣ    ΑΤΤΙΚΗΣ       2000          07        23
4   ΔΡΟΣΟΠΟΥΛΟΥ ΑΝΩ ΛΙΟΣΙΑ    ΑΤΤΙΚΗΣ       2000          10        04

  START_HOUR START_MINUTE START_TIME  FOREST_AREA
0         13           30   13:30:00          3.0
1         11           44   11:44:00          0.0
2         10           25   10:25:00          2.0
3         11           10   11:10:00          2.0
4         14           40   14:40:00          0.0

In [4]:
areas = {
    'ΑΙΤΩΛΟΑΚΑΡΝΑΝΙΑΣ':	'AGRINION AIRPORT, GR',
    'ΑΡΓΟΛΙΔΟΣ':	'NAFPLION, GR',
    'ΑΡΚΑΔΙΑΣ':	'TRIPOLIS, GR',
    'ΑΡΤΑΣ':	'ARTA HALKIADES, GR',
    'ΑΤΤΙΚΗΣ':	'ATHINAI, GR',
    'ΑΧΑΙΑΣ':	'PATRAI, GR',
    'ΒΟΙΩΤΙΑΣ':	'ALIARTOS, GR',
    'ΓΡΕΒΕΝΩΝ':	'TRIKALA, GR',
    'ΔΡΑΜΑΣ':	'EDESSA, GR',
    'ΔΩΔΕΚΑΝΗΣΩΝ':	'KOS, GR',
    'ΕΥΡΥΤΑΝΙΑΣ':	'AGRINION AIRPORT, GR',
    'ΗΛΕΙΑΣ':	'ANDRAVIDA, GR',
    'ΗΜΑΘΙΑΣ':	'MAKEDONIA, GR',
    'ΗΡΑΚΛΕΙΟΥ':	'NIKOS KAZANTZAKIS, GR',
    'ΘΕΣΠΡΩΤΙΑΣ':	'ARTA HALKIADES, GR',
    'ΘΕΣΣΑΛΟΝΙΚΗΣ':	'MAKEDONIA, GR',
    'ΙΩΑΝΝΙΝΩΝ':	'IOANNINA AIRPORT, GR',
    'ΚΑΒΑΛΑΣ':	'MEGAS ALEXANDROS INTERNATIONAL, GR',
    'ΚΑΡΔΙΤΣΑΣ':	'LARISA, GR',
    'ΚΑΣΤΟΡΙΑΣ':	'FLORINA, GR',
    'ΚΕΡΚΥΡΑΣ':	'ARTA HALKIADES, GR',
    'ΚΕΦΑΛΛΟΝΙΑΣ':	'KEFALLINIA, GR',
    'ΚΙΛΚΙΣ':	'MAKEDONIA, GR',
    'ΚΟΖΑΝΗΣ':	'FLORINA, GR',
    'ΛΑΡΙΣΑΣ':	'LARISA, GR',
    'ΛΑΣΙΘΙΟΥ':	'IERAPETRA, GR',
    'ΛΕΥΚΑΔΟΣ':	'KEFALLINIA, GR',
    'ΜΕΣΣΗΝΙΑΣ':	'METHONI, GR',
    'ΞΑΝΘΗΣ':	'EDESSA, GR',
    'ΠΙΕΡΙΑΣ':	'LARISA, GR',
    'ΠΡΕΒΕΖΗΣ':	'AGRINION AIRPORT, GR',
    'ΡΕΘΥΜΝΟΥ':	'RETHYMNON, GR',
    'ΡΟΔΟΠΗΣ':	'KOMOTINI, GR',
    'ΤΡΙΚΑΛΩΝ':	'TRIKALA, GR',
    'ΦΛΩΡΙΝΑΣ':	'FLORINA, GR',
    'ΦΩΚΙΔΟΣ':	'LAMIA, GR',
    'ΧΑΝΙΩΝ':	'SOUDA, GR',
    'ΧΙΟΥ':	'CHIOS, GR',
    'ΧΑΛΚΙΔΙΚΗΣ': 'MAKEDONIA, GR',
    'ΦΘΙΩΤΙΔΑΣ': 'LAMIA, GR',
    'ΛΑΚΩΝΙΑΣ': 'KALAMATA, GR',
    'ΣΕΡΡΩΝ': 'SERRAI, GR',
    'ΕΒΡΟΥ':	'MEGAS ALEXANDROS INTERNATIONAL, GR',
    'ΣΑΜΟΥ': 'KOS, GR',
    'ΕΥΒΟΙΑΣ': 'TANAGRA, GR',
	'ΠΕΛΛΑΣ': 'EDESSA, GR',
	'ΜΑΓΝΗΣΙΑΣ': 'NEA ANCHIALOS, GR',
	'ΚΟΡΙΝΘΙΑΣ': 'ELEFSIS, GR',
	'ΚΥΚΛΑΔΩΝ': 'CYCLADES ISLANDS, GR',
	'ΛΕΣΒΟΥ': 'MITILINI, GR',
	'ΖΑΚΥΝΘΟΥ': 'ZAKINTHOS, GR'
}

In [5]:
for i in range(0, 201948):
    if areas.get(fire_data['PREFECTURE'].iloc[i]) is not None:
        fire_data['PREFECTURE'].iloc[i] = areas.get(fire_data['PREFECTURE'].iloc[i])

c:\users\hppc\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [6]:
print(fire_data['PREFECTURE'].head())

0    ATHINAI, GR
1    ATHINAI, GR
2    ATHINAI, GR
3    ATHINAI, GR
4    ATHINAI, GR
Name: PREFECTURE, dtype: object

In [7]:
print(fire_data.head())

                      AREA   PREFECTURE START_YEAR START_MONTH START_DAY  \
0                 ΚΡΥΟΝΕΡΙ  ATHINAI, GR       2000          06        08
1          ΑΓΡ.ΠΕΡ.ΑΦΙΔΝΩΝ  ATHINAI, GR       2000          06        05
2                   ΚΑΡΕΑΣ  ATHINAI, GR       2000          06        14
3  ΝΕΚΡΟΤΑΦΕΙΟ ΚΑΙΣΑΡΙΑΝΗΣ  ATHINAI, GR       2000          07        23
4   ΔΡΟΣΟΠΟΥΛΟΥ ΑΝΩ ΛΙΟΣΙΑ  ATHINAI, GR       2000          10        04

  START_HOUR START_MINUTE START_TIME  FOREST_AREA
0         13           30   13:30:00          3.0
1         11           44   11:44:00          0.0
2         10           25   10:25:00          2.0
3         11           10   11:10:00          2.0
4         14           40   14:40:00          0.0

In [8]:
print(fire_data['PREFECTURE'].value_counts())

LARISA, GR                            21350
MAKEDONIA, GR                         14841
AGRINION AIRPORT, GR                  12618
EDESSA, GR                            11650
ANDRAVIDA, GR                         11555
PATRAI, GR                             9318
METHONI, GR                            8676
ARTA HALKIADES, GR                     8109
MEGAS ALEXANDROS INTERNATIONAL, GR     8088
FLORINA, GR                            6705
SERRAI, GR                             6045
TANAGRA, GR                            5355
LAMIA, GR                              5325
NIKOS KAZANTZAKIS, GR                  5266
ELEFSIS, GR                            5100
KEFALLINIA, GR                         5073
ATHINAI, GR                            4965
NAFPLION, GR                           4403
KALAMATA, GR                           4362
KOMOTINI, GR                           4090
TRIKALA, GR                            4001
SOUDA, GR                              3962
TRIPOLIS, GR                           3783
IOANNINA AIRPORT, GR                   3489
RETHYMNON, GR                          3473
ALIARTOS, GR                           3401
KOS, GR                                3094
NEA ANCHIALOS, GR                      2760
MITILINI, GR                           2547
CYCLADES ISLANDS, GR                   2524
IERAPETRA, GR                          2493
ZAKINTHOS, GR                          2473
CHIOS, GR                              1045
ΖΑΚΥΝΘΟΥ                                  1
Name: PREFECTURE, dtype: int64

In [9]:
print(fire_data['PREFECTURE'].isna().sum())

9

In [ ]:
print(temperature_data.head())

In [10]:
merged_df = pd.merge(fire_data, temperature_data,  how='right',
                     left_on=['START_YEAR', 'START_MONTH', 'START_DAY', 'START_HOUR', 'PREFECTURE'],
                     right_on=['YEAR', 'MONTH', 'DAY', 'HOUR', 'NAME'])

In [11]:
standard_df = merged_df

In [12]:
merged_df['WIND_SPEED_VALID'].value_counts()

1    8301163
9     185118
5      28454
2        161
Name: WIND_SPEED_VALID, dtype: int64

In [13]:
merged_df['TEMPERATURE_VALID'].value_counts()

1    8450777
9      32501
5      28824
2       2782
6         12
Name: TEMPERATURE_VALID, dtype: int64

In [14]:
merged_df['DEW_VALID'].value_counts()

1    8426005
9      55711
5      28609
2       4530
6         41
Name: DEW_VALID, dtype: int64

In [245]:
merged_df.columns

Index(['AREA', 'PREFECTURE', 'START_YEAR', 'START_MONTH', 'START_DAY',
       'START_HOUR', 'START_MINUTE', 'START_TIME', 'FOREST_AREA', 'YEAR',
       'MONTH', 'DAY', 'HOUR', 'MINUTE', 'LATITUDE', 'LONGITUDE', 'NAME',
       'TEMPERATURE', 'TEMPERATURE_VALID', 'DIRECTION', 'WIND_VALID', 'CODE',
       'SPEED', 'WIND_SPEED_VALID', 'DEW', 'DEW_VALID'],
      dtype='object')

In [243]:
merged_df.loc[(merged_df['TEMPERATURE_VALID'] == '1')]['TEMPERATURE'].value_counts()

 15.0    371922
 16.0    365393
 14.0    350896
 17.0    346905
 18.0    334083
          ...
-22.0         1
 42.9         1
-16.2         1
-16.5         1
-13.6         1
Name: TEMPERATURE, Length: 610, dtype: int64

In [244]:
merged_df.loc[(merged_df['TEMPERATURE_VALID'] == '1')]['SPEED'].value_counts()

0.0     1750916
2.1      754601
3.1      642764
2.6      630336
4.1      558895
         ...
30.3          1
40.0          1
46.4          1
11.9          1
34.5          1
Name: SPEED, Length: 134, dtype: int64

In [ ]:
print(merged_df.head(10))

In [ ]:
print(merged_df['FOREST_AREA'].isna().sum())  # 8.354.766

print(merged_df['FOREST_AREA'].notna().sum())  # 160.130

In [15]:
merged_df = merged_df.loc[(merged_df['TEMPERATURE_VALID'] == '1')
			& (merged_df['WIND_SPEED_VALID'] == '1')
			& (merged_df['DEW_VALID'] == '1')
            & (merged_df['SPEED'] > 0)]

In [16]:
#merged_df = merged_df.sort_values('FOREST_AREA')

In [17]:
merged_df['FOREST_AREA'] = merged_df['FOREST_AREA'].fillna(-1)

c:\users\hppc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
fire_df = merged_df.loc[merged_df['FOREST_AREA'] >= 0]
print(fire_df.head())

                              AREA     PREFECTURE START_YEAR START_MONTH  \
4374     18 ΧΙΛ.Ε.Ο.ΕΥΖΩΝΩΝ-ΑΘΗΝΑΣ  MAKEDONIA, GR       2000          03
4380              ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ  MAKEDONIA, GR       2000          03
4408                   Σ.Σ.ΜΟΥΡΙΩΝ  MAKEDONIA, GR       2000          03
4538  ΠΕΝΤΑΛΟΦΟΣ, ΘΕΣΗ ΑΓΡΙΟΜΗΛΙΕΣ  MAKEDONIA, GR       2000          03
4539  ΠΕΝΤΑΛΟΦΟΣ, ΘΕΣΗ ΑΓΡΙΟΜΗΛΙΕΣ  MAKEDONIA, GR       2000          03

     START_DAY START_HOUR START_MINUTE START_TIME  FOREST_AREA  YEAR  ...  \
4374        01         11           29   11:29:00          0.0  2000  ...
4380        01         16           09   16:09:00          0.0  2000  ...
4408        02         13           44   13:44:00          0.0  2000  ...
4538        06         16           00   16:00:00          1.0  2000  ...
4539        06         16           00   16:00:00          1.0  2000  ...

               NAME TEMPERATURE TEMPERATURE_VALID DIRECTION  WIND_VALID  CODE  \
4374  MAKEDONIA, GR         9.0                 1       300           1     N
4380  MAKEDONIA, GR         9.0                 1       170           1     N
4408  MAKEDONIA, GR        18.0                 1       150           1     N
4538  MAKEDONIA, GR         8.0                 1       320           1     N
4539  MAKEDONIA, GR         8.0                 1       330           1     N

     SPEED  WIND_SPEED_VALID  DEW DEW_VALID
4374   3.1                 1  2.0         1
4380   3.6                 1  0.0         1
4408   6.7                 1  7.0         1
4538   7.2                 1 -6.0         1
4539   9.3                 1 -6.0         1

[5 rows x 26 columns]

In [19]:
fire_df.describe()

,FOREST_AREA,LATITUDE,LONGITUDE,TEMPERATURE,SPEED,DEW
count,128046.000000,128046.000000,128046.000000,128046.000000,128046.000000,128046.000000
mean,15.196538,38.564800,23.271009,23.659407,4.412970,11.883347
std,739.184818,1.766408,1.596849,7.064612,2.241915,5.967379
min,0.000000,35.339719,20.500481,-5.000000,0.500000,-17.000000
25%,0.000000,37.783333,22.465500,19.000000,2.600000,8.200000
50%,0.000000,38.339847,22.970950,25.000000,4.100000,12.900000
75%,0.000000,40.519725,24.149678,29.000000,5.700000,16.000000
max,100000.000000,41.066667,27.091667,45.000000,25.700000,28.000000

In [20]:
nonfire_df_1 = merged_df.loc[(merged_df['FOREST_AREA'] < 0) & (merged_df['TEMPERATURE'] < 18)]

In [21]:
#nonfire_df_2 = merged_df.loc[(merged_df['FOREST_AREA'] < 0) & (merged_df['TEMPERATURE'] >= 18) % (merged_df['SPEED'] >= 2)]
nonfire_df_2 = merged_df.loc[(merged_df['FOREST_AREA'] < 0) & (merged_df['TEMPERATURE'] >= 18)]

In [15]:
#nonfire_df_2.count()

In [16]:
fire_df.shape

(128046, 26)

In [22]:
nonfire_df_1 = nonfire_df_1[:150000]

In [23]:
nonfire_df_2 = nonfire_df_2[:250000]

In [24]:
nonfire_df = nonfire_df_1.append(nonfire_df_2, ignore_index=True)

In [20]:
nonfire_df.columns
fire_df.columns

Index(['AREA', 'PREFECTURE', 'START_YEAR', 'START_MONTH', 'START_DAY',
       'START_HOUR', 'START_MINUTE', 'START_TIME', 'FOREST_AREA', 'YEAR',
       'MONTH', 'DAY', 'HOUR', 'MINUTE', 'LATITUDE', 'LONGITUDE', 'NAME',
       'TEMPERATURE', 'TEMPERATURE_VALID', 'DIRECTION', 'WIND_VALID', 'CODE',
       'SPEED', 'WIND_SPEED_VALID', 'DEW', 'DEW_VALID'],
      dtype='object')

In [21]:
#nonfire_df.drop(columns=['AREA', 'LATITUDE', 'LONGITUDE', 'CODE', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'FOREST_AREA', 'YEAR'])
#fire_df.drop(columns=['AREA', 'LATITUDE', 'LONGITUDE', 'CODE', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'FOREST_AREA', 'YEAR'])

In [25]:
nonfire_df = nonfire_df.drop(['YEAR',
       'MONTH', 'DAY', 'HOUR', 'MINUTE', 'LATITUDE', 'LONGITUDE', 'NAME',
        'TEMPERATURE_VALID', 'WIND_VALID', 'CODE',
        'WIND_SPEED_VALID', 'DEW_VALID'], axis=1)

fire_df = fire_df.drop(['YEAR',
       'MONTH', 'DAY', 'HOUR', 'MINUTE', 'LATITUDE', 'LONGITUDE', 'NAME',
        'TEMPERATURE_VALID', 'WIND_VALID', 'CODE',
        'WIND_SPEED_VALID', 'DEW_VALID'], axis=1)

In [26]:
nonfire_df['START_MINUTE'] = nonfire_df['START_MINUTE'].str.replace('9-', '00')
fire_df['START_MINUTE'] = fire_df['START_MINUTE'].str.replace('9-', '00')

In [27]:
nonfire_df[['FOREST_AREA', 'TEMPERATURE',	'DIRECTION', 'SPEED', 'DEW']] = nonfire_df[['FOREST_AREA', 'TEMPERATURE',	'DIRECTION', 'SPEED', 'DEW']].astype(float)
fire_df[['FOREST_AREA', 'TEMPERATURE',	'DIRECTION', 'SPEED', 'DEW']] = fire_df[['FOREST_AREA', 'TEMPERATURE',	'DIRECTION', 'SPEED', 'DEW']].astype(float)

In [28]:
nonfire_df.columns

Index(['AREA', 'PREFECTURE', 'START_YEAR', 'START_MONTH', 'START_DAY',
       'START_HOUR', 'START_MINUTE', 'START_TIME', 'FOREST_AREA',
       'TEMPERATURE', 'DIRECTION', 'SPEED', 'DEW'],
      dtype='object')

In [29]:
nonfire_df = nonfire_df.drop(columns= ['AREA', 'PREFECTURE', 'START_YEAR', 'START_MONTH', 'START_DAY',
                                'START_HOUR', 'START_MINUTE', 'START_TIME', 'DIRECTION'])
fire_df = fire_df.drop(columns= ['AREA', 'PREFECTURE', 'START_YEAR', 'START_MONTH', 'START_DAY',
                                'START_HOUR', 'START_MINUTE', 'START_TIME', 'DIRECTION'])

In [30]:
nonfire_df.head()

   FOREST_AREA  TEMPERATURE  SPEED  DEW
0         -1.0         -3.2    3.1 -4.3
1         -1.0         12.2    4.1 -6.6
2         -1.0         -1.7    0.5 -7.1
3         -1.0         13.0    2.1  8.7
4         -1.0          4.3    3.1  2.1

In [31]:
print(nonfire_df.describe())

       FOREST_AREA    TEMPERATURE          SPEED            DEW
count     400000.0  400000.000000  400000.000000  400000.000000
mean          -1.0      19.452233       4.891119      11.740039
std            0.0       7.623838       2.728098       6.436645
min           -1.0     -13.000000       0.500000     -20.000000
25%           -1.0      14.000000       3.100000       8.000000
50%           -1.0      20.000000       4.100000      12.900000
75%           -1.0      25.000000       6.200000      16.800000
max           -1.0      45.000000      39.100000      30.000000

In [32]:
print(fire_df.describe())

         FOREST_AREA    TEMPERATURE          SPEED            DEW
count  128046.000000  128046.000000  128046.000000  128046.000000
mean       15.196538      23.659407       4.412970      11.883347
std       739.184818       7.064612       2.241915       5.967379
min         0.000000      -5.000000       0.500000     -17.000000
25%         0.000000      19.000000       2.600000       8.200000
50%         0.000000      25.000000       4.100000      12.900000
75%         0.000000      29.000000       5.700000      16.000000
max    100000.000000      45.000000      25.700000      28.000000

In [33]:
fire_df.loc[(fire_df['FOREST_AREA'] > 10)].describe()

         FOREST_AREA  TEMPERATURE        SPEED          DEW
count    3714.000000  3714.000000  3714.000000  3714.000000
mean      514.667421    26.197577     4.885110    12.452127
std      4311.111952     6.529255     2.425107     5.632833
min        10.800000     4.000000     0.500000   -11.500000
25%        20.000000    22.000000     3.100000     9.000000
50%        40.000000    27.000000     4.600000    13.000000
75%       110.000000    31.000000     6.200000    17.000000
max    100000.000000    44.000000    19.000000    28.000000

In [31]:
working_balanced_df = fire_df.append(nonfire_df, ignore_index=True)

In [32]:
working_balanced_df['SPEED'].min()

0.5

In [33]:
working_balanced_df.to_pickle('working_balanced_df.pkl')

In [ ]:





















#merged_df = merged_df[:320260]

In [9]:
print(merged_df.shape[0])

print(merged_df['FOREST_AREA'].isna().sum())  # 8.354.766

print(merged_df['FOREST_AREA'].notna().sum())

8514896
8354766
160130

In [ ]:
print(merged_df.columns)

In [10]:
merged_df.drop(columns=['AREA', 'LATITUDE', 'LONGITUDE', 'CODE', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'FOREST_AREA', 'YEAR'])

,PREFECTURE,START_YEAR,START_MONTH,START_DAY,START_HOUR,START_MINUTE,START_TIME,NAME,TEMPERATURE,TEMPERATURE_VALID,DIRECTION,WIND_VALID,SPEED,WIND_SPEED_VALID,DEW,DEW_VALID
4374,"MAKEDONIA, GR",2000,03,01,11,29,11:29:00,"MAKEDONIA, GR",9.0,1,300,1,3.1,1,2.0,1
5101294,"NEA ANCHIALOS, GR",2013,09,26,13,10,13:10,"NEA ANCHIALOS, GR",27.0,1,100,1,5.1,1,16.0,1
5101292,"NEA ANCHIALOS, GR",2013,09,26,13,10,13:10,"NEA ANCHIALOS, GR",27.0,1,080,1,5.7,1,12.0,1
5101190,"NEA ANCHIALOS, GR",2013,09,23,23,00,23:00,"NEA ANCHIALOS, GR",14.0,1,240,1,2.1,1,8.0,1
5101186,"NEA ANCHIALOS, GR",2013,09,23,19,50,19:50,"NEA ANCHIALOS, GR",14.0,1,260,1,2.1,1,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8514891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"KARPATHOS AIRPORT, GR",13.0,1,310,1,5.1,1,9.0,1
8514892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"KARPATHOS AIRPORT, GR",14.2,1,290,1,7.2,1,10.5,1
8514893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"KARPATHOS AIRPORT, GR",15.2,1,330,1,7.2,1,8.6,1
8514894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"KARPATHOS AIRPORT, GR",14.0,1,340,1,5.1,1,8.9,1
8514895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"KARPATHOS AIRPORT, GR",13.4,1,320,1,6.2,1,8.6,1

In [ ]:
print(merged_df.columns)

In [ ]:
print(merged_df['TEMPERATURE_VALID'].value_counts())
print(merged_df['WIND_VALID'].value_counts())
print(merged_df['WIND_SPEED_VALID'].value_counts())
print(merged_df['DEW_VALID'].value_counts())

In [ ]:
print(fire_data.isna().sum())
print(temperature_data.isna().sum())

In [ ]:
print(fire_data['START_HOUR'].value_counts())
print(fire_data['START_DAY'].value_counts())
print(fire_data['START_MONTH'].value_counts())
print(fire_data['START_YEAR'].value_counts())

In [ ]:
print(temperature_data['HOUR'].value_counts())
print(temperature_data['DAY'].value_counts())
print(temperature_data['MONTH'].value_counts())
print(temperature_data['YEAR'].value_counts())

In [ ]:
final_df = merged_df.loc[(merged_df['TEMPERATURE_VALID'] == '1')
			& (merged_df['WIND_SPEED_VALID'] == '1')
			& (merged_df['DEW_VALID'] == '1')]

In [ ]:
final_df.head()

In [ ]:
final_df.columns

In [ ]:
final_df = final_df.drop(['YEAR',
       'MONTH', 'DAY', 'HOUR', 'MINUTE', 'LATITUDE', 'LONGITUDE', 'NAME',
        'TEMPERATURE_VALID', 'WIND_VALID', 'CODE',
        'WIND_SPEED_VALID', 'DEW_VALID'], axis=1)

In [ ]:
final_df.head()

In [ ]:
working_df = final_df[['TEMPERATURE', 'SPEED', 'DEW', 'FOREST_AREA']]

In [ ]:
print(working_df['FOREST_AREA'].isna().sum())  # 8.354.766
print(working_df['FOREST_AREA'].notna().sum())

print(working_df['TEMPERATURE'].isna().sum())  # 8.354.766
print(working_df['TEMPERATURE'].notna().sum())

print(working_df['SPEED'].isna().sum())  # 8.354.766
print(working_df['SPEED'].notna().sum())

print(working_df['DEW'].isna().sum())  # 8.354.766
print(working_df['DEW'].notna().sum())

In [ ]:
final_df.columns

In [ ]:
final_df['START_YEAR'].unique()

In [ ]:
final_df['START_MONTH'].unique()

In [ ]:
final_df['START_DAY'].unique()

In [ ]:
final_df['START_HOUR'].unique()

In [ ]:
final_df['START_MINUTE'].unique()

In [ ]:
final_df['START_MINUTE'] = final_df['START_MINUTE'].str.replace('9-', '00')

In [ ]:
final_df['START_MINUTE'].unique()

In [ ]:

final_df[['START_YEAR', 'START_MONTH', 'START_DAY', 'START_HOUR', 'START_MINUTE']] = final_df[['START_YEAR', 'START_MONTH', 'START_DAY', 'START_HOUR', 'START_MINUTE']].astype(int)

In [ ]:
final_df[['FOREST_AREA', 'TEMPERATURE',	'DIRECTION', 'SPEED', 'DEW']] = final_df[['FOREST_AREA', 'TEMPERATURE',	'DIRECTION', 'SPEED', 'DEW']].astype(float)

In [ ]:
final_df['PREFECTURE'].unique()

In [ ]:
final_df.info()

In [ ]:
final_df.head()

In [ ]:
#final_df.to_pickle('final_dataframe.pkl')

In [ ]:
fire_data['PREFECTURE'].unique()

In [ ]:
print(fire_data['PREFECTURE'].value_counts())

In [ ]:
final_df = final_df[final_df['PREFECTURE'] != 'ΖΑΚΥΝΘΟΥ']

In [ ]:
print(final_df['PREFECTURE'].value_counts())

In [ ]:
#final_df.to_pickle('final_dataframe.pkl')

In [ ]:

print(final_df.head(10))

In [ ]:
working_df = final_df[['TEMPERATURE', 'SPEED', 'DEW', 'FOREST_AREA']]

In [ ]:
working_df['FOREST_AREA'] = working_df['FOREST_AREA'].fillna(-1)

In [ ]:
print(working_df['FOREST_AREA'].isna().sum())  # 8.354.766
print(working_df['FOREST_AREA'].notna().sum())

In [ ]:
working_df.to_pickle('last_working_df.pkl')